<style>
:global(body) {
  padding: 0;
}
</style>

<script>
import { page } from "./stores";
import Sidebar from "./Sidebar.svelte";
import Links from "./Links.svelte";
import Quotes from "./Quotes.svelte";
import Images from "./Images.svelte";
</script>

<Sidebar />

<div class="ml-48 pt-4">
  {#if $page == 'links'}
    <Links />
  {:else if $page == 'quotes'}
    <Quotes />
  {:else if $page == 'images'}
    <Images />
  {/if}
</div>
