<script>
import { onMount } from 'svelte';
import Grid from 'svelte-grid';
import gridHelp from 'svelte-grid/build/helper/index.mjs';
// // import LinkTags from './LinkTags.svelte';
// import Link from './Link.svelte';
let images;
let items;

onMount(async () => {
    await fetch('http://127.0.0.1:8088/getimages')
        .then(response => response.json())
        .then(data => {
            images = data;
        });
});
</script>

{#if images}
    {#each images as image}
        <div><img src="http://127.0.0.1:8088/{image.image_path}" width="10%" /></div>
    {/each}
{:else}
    <p>Loading...</p>
{/if}
