<script>
import { onMount } from 'svelte';
import LinkTags from './LinkTags.svelte';
import Link from './Link.svelte';
let links;

onMount(async () => {
    await fetch('http://127.0.0.1:8088/getlinks')
        .then(response => response.json())
        .then(data => {
            links = data;
        });
});
</script>

{#if links}
    {#each links as link}
        <div class="mb-8">
            <div class="mb-2">
                <Link link="{link}" />
            </div>

            <div class="w-3/5">
                <LinkTags id={link.id}/>
            </div>
        </div>
    {/each}
{:else}
    <p>Loading...</p>
{/if}
