<style>
.custom-tag-style :global(.svelte-tags-input-layout) {
    border: 0px;
}

.custom-tag-style :global(.svelte-tags-input-layout:hover) {
    border: 0px;
}

.custom-tag-style :global(.svelte-tags-input-tag) {
    border: 0px;
}


</style>

<script>
import Tags from 'svelte-tags-input';
export let id;
</script>

<div class="custom-tag-style">
    <Tags
        addKeys="{[9, 13]}"
        maxTags="{8}"
        allowPaste="{true}"
        allowDrop="{true}"
        splitWith="{'/'}"
        onlyUnique="{true}"
        removeKeys="{[27]}"
        placeholder="{'Add tags'}"
        id="{id}"
        allowBlur="{true}"
        disable="{false}"
        minChars="{2}" 
    />
</div>
