<style>
.icon {
    width: 18px;
    text-align: left;
}
</style>

<script>
import MdEdit from 'svelte-icons/md/MdEdit.svelte';
export let link;
let editing = false;

function switchMode() {
    if (editing == false) {
        editing = true;
    } else {
        editing = false;
    }
}

function handleKeydown(event) {
    if (event.key == 'Enter') {
        fetch('http://127.0.0.1:8088/updatelink', {
            method: 'POST',
            body: JSON.stringify(link),
            headers: {
                'Content-Type': 'application/json',
            },
        }).then((result) => {
            link.title = event.srcElement.value;
            editing = false;
        });
    }
}

function init(elem) {
    elem.focus();
}
</script>

<div class="flex">
    <div class="icon mr-2">
        <a href="#" on:click="{switchMode}"><MdEdit
                class="object-fill"
                on:click="{switchMode}"
            /></a>
    </div>

    {#if editing == false}
        <a class="text-gray-600 bold" href="{link.link}">{link.title}</a>
    {:else}
        <input
            bind:value="{link.title}"
            on:keypress="{handleKeydown}"
            use:init
        />
    {/if}
</div>
