<style>
</style>

<script>
import { page } from "./stores.js";

function handlePageChange(desiredPage) {
  page.set(desiredPage);
}
</script>

<aside class="absolute w-100 h-full bg-gray-800 shadow-lg border-r-2">
  <nav class="p-6">
    <a
      class="block pb-4"
      href="#"
      on:click|preventDefault="{() => handlePageChange('links')}"
    >
      <img src="images/links.png" width="50" alt="Links" />
    </a>
    <a
      class="block pb-4"
      href="#"
      on:click|preventDefault="{() => handlePageChange('quotes')}"
    >
      <img src="images/quotes.png" width="50" alt="Quotes" />
    </a>
    <a
      class="block"
      href="#"
      on:click|preventDefault="{() => handlePageChange('images')}"
    >
      <img src="images/images.png" width="50" alt="Images" />
    </a>

  </nav>
</aside>
