
/* Styling of menu */
/* https://github.com/ant-design/ant-design-pro/issues/2334 */
.ant-menu-item.sidebarLink  {
  text-align: center;
  height: 50px;
  padding-top: 2px;
  padding-left: 10px !important;
}

.ant-menu-item.sidebarLink a:hover {

}

.site-layout {
  margin-top: 20px;
  margin-left: 100px;
}

.tag-input {
  width: 78px;
  margin-right: 8px;
  vertical-align: top;
}

.ant-list-item-meta-title > a {
  color: #119088;
}

.ant-list-vertical .ant-list-item-meta {
  margin-bottom: 0px;
}

.ant-list-vertical .ant-list-item-action > li {
  padding-right: 10px;
  padding-left: 0px;
}

.ant-list-item-meta-content {
  margin-bottom: -9px;
}

